<div class="folders-wrapper">
    <div class="card mt-2 mb-2">
        <div class="card-header">
            <a href="javascript:;" class="close">&times;</a>
            Folder with gt 2 and lte 4 docs
        </div>

        <div class="card-body">
            <!-- cards -->
            <div class="folder-card-thumb folder-4-cards">&nbsp;</div>
            <div class="folder-card-thumb folder-4-cards">&nbsp;</div>
            <div class="folder-card-thumb folder-4-cards">&nbsp;</div>
            <div class="folder-card-thumb folder-4-cards">&nbsp;</div>
        </div>
    </div>

    <div class="card mt-2 mb-2">
        <div class="card-header">
                <a href="javascript:;" class="close">&times;</a>
                Folder with lte 2 docs
            </div>

        <div class="card-body">
            <!-- cards -->
            <div class="folder-card-thumb folder-2-cards">&nbsp;</div>
            <div class="folder-card-thumb folder-2-cards">&nbsp;</div>
        </div>
    </div>

    <div class="card mt-2 mb-2">
        <div class="card-header">
            <a href="javascript:;" class="close">&times;</a>
            Folder with gt 4 
        </div>

        <div class="card-body">
            <!-- cards -->
            <div class="folder-card-thumb folder-9-cards">&nbsp;</div>
            <div class="folder-card-thumb folder-9-cards">&nbsp;</div>
            <div class="folder-card-thumb folder-9-cards">&nbsp;</div>
            <div class="folder-card-thumb folder-9-cards">&nbsp;</div>
            <div class="folder-card-thumb folder-9-cards">&nbsp;</div>
            <div class="folder-card-thumb folder-9-cards">&nbsp;</div>
            <div class="folder-card-thumb folder-9-cards">&nbsp;</div>
            <div class="folder-card-thumb folder-9-cards">&nbsp;</div>
            <div class="folder-card-thumb folder-9-cards">&nbsp;</div>
        </div>
    </div>

    <div class="card mt-2 mb-2">
        <div class="card-header">
            <a href="javascript:;" class="close">&times;</a>
            Folder with gt 4 
        </div>

        <div class="card-body">
            <!-- cards -->
            <div class="folder-card-thumb folder-9-cards">&nbsp;</div>
            <div class="folder-card-thumb folder-9-cards">&nbsp;</div>
            <div class="folder-card-thumb folder-9-cards">&nbsp;</div>
            <div class="folder-card-thumb folder-9-cards">&nbsp;</div>
            <div class="folder-card-thumb folder-9-cards">&nbsp;</div>
            <div class="folder-card-thumb folder-9-cards">&nbsp;</div>
            <div class="folder-card-thumb folder-9-cards">&nbsp;</div>
        </div>
    </div>
</div>