<nav class="navbar sticky-top navbar-dark bg-dark" [ngClass]="{'top-bar-unauthorized': !grinotesAuthService.isLoggedIn}">
    <!-- Logo and title -->
    <a class="navbar-brand" href="JavaScript:;" title="Grimember things better">
        <i class="fas fa-book"></i> Gri<strong>Notes</strong> <small>Grimember Things Better</small>
    </a>

    <!-- In progress spinner -->
    <span *ngIf="grinotesAuthService.isLoggedIn" class="navbar-item ml-auto mr-4 topbar-spinner" [ngClass]="{'invisible':!webapi.inProgress}">
        <i class="fas fa-asterisk fa-spin"></i> Loading...
    </span>

    <!-- Search form -->
    <form class="form-inline" *ngIf="grinotesAuthService.isLoggedIn">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary" type="submit">Search</button>
    </form>


    <!-- The login button -->
    <a *ngIf=" grinotesAuthService.isLoggedIn"
        title="Logged in as {{grinotesAuthService.user.name}}. Click to sign out"
        class="btn btn-link navbar-login-icon" (click)="logout()">
        <img src="{{grinotesAuthService.user.image}}" />
    </a>
</nav>
