h4 {
    margin-bottom: 0;
}

.card-body {
    padding: 0.5rem;
}

.card-text {
    overflow: auto;
}

.file-wrapper {
    width: 9rem;
    margin: 0 10px 10px 0;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.file-icon-wrapper {
    padding: 10px;
    text-align: center;
    color: #ACE;
}

.delete-file-button {
    color: #C11;
    position: absolute;
    right: 0;
    top: 0;
}

.delete-file-button:hover {
    text-decoration: none;
    background: #C11;
    color: #FFF;
}

.selected-file {
    background: #DEF;
}

.files-wrapper {
    min-height: 280px;
}

p.file-name {
    height: 3em;
    font-size: 1.2em;
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    color: #555;
    text-align: center;
}

p.file-size-wraper {
    margin: 0;
    text-align: center;
}

div.rename-file-wrapper {
    height: 3rem;
}
