<!-- Popup appears when no files are in the list -->
<div class="no-files-curtain" *ngIf="filesService.initialFilesListLoaded && filesService.files.length == 0">
    <div class="no-files-curtain-popup">
        <h3>Create your first note</h3>
        <br />
        <p>How will you call it?</p>
        <form (submit)="$event.preventDefault(); createFile(firstNoteName);">
            <input type="text" class="form-control" (input)="firstNoteName = $event.target.value;" placeholder="My first note" autofocus="true" value="{{firstNoteName}}"/><br />
            <button type="submit" class="btn btn-primary"><i class="fa fa-star"></i> Create</button>
        </form>
    </div>
</div>

<br  />
<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            <div class="row">
                <div class="col-6">
                    Notes
                </div>
                <div class="col-6">
                    <span class="ml-auto mr-4">&nbsp;</span>
                    <form class="form-inline" style="display: inline-block;">
                        <input type="text" class="form-control form-control-sm" />
                        <button class="btn btn-primary btn-sm" type="submit">Create</button>
                        <button class="btn btn-outline-secondary btn-sm" type="button">Cancel</button>
                    </form>
                    <button type="button" class="btn btn-primary btn-sm" (click)="createFile();" title="Create new file"><i class="fa fa-star"></i> New</button>
                </div>
            </div>
        </h4>
    </div>
    <div class="card-text alert bg-light border files-wrapper" [ngStyle]="{'height': (configService.winHeight - 160)+'px'}">
        <div class="card file-wrapper float-left"
                [ngClass]="{'selected-file': (selectedFileId == file.id)}"
                *ngFor="let file of filesService.files">

            <!-- Delete button -->
            <button type="button" title="Delete &quot;{{file.name}}&quot;"
                class="btn btn-link btn-sm delete-file-button"
                (click)="openDeleteConfirmation = file.id;">&times;</button>

            <!-- Confirmation box -->
            <div class="delete-file-confirmation-box" *ngIf="openDeleteConfirmation == file.id">
                <button type="button" class="btn btn-sm btn-danger" (click)="deleteFile(file.id); openDeleteConfirmation == false;">Delete</button>
                <button type="button" class="btn btn-sm btn-link" (click)="openDeleteConfirmation = false;">Cancel</button>
            </div>

            <!-- The big file icon  -->
            <div class="file-icon-wrapper" (click)="openFile(file.id)" title="Click to open &quot;{{file.name}}&quot;">
                <i class="far fa-file-alt fa-8x"></i>
            </div>
            <div class="card-body">
                <p [hidden]="fileId_renameInProcess == file.id"
                        (dblclick)="fileId_renameInProcess = file.id; newFilename = file.name;"
                        class="card-text file-name" title="{{file.name}}. Double click to rename">{{file.name}}</p>
                <!-- rename file name form -->
                <div [hidden]="fileId_renameInProcess != file.id" class="card-text rename-file-wrapper">
                    <form class="form-inline" (submit)="$event.preventDefault(); renameFile();">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control"
                                [value]="file.name" (input)="newFilename = $event.target.value" />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary" title="Rename the file">
                                    <i class="fa fa-check"></i>
                                </button>
                                <button type="button" (click)="fileId_renameInProcess = 0;" class="btn btn-outline-secondary" title="Cancel renaming">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                            <div class="input-group-append">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /rename -->

                <!-- File size -->
                <p class="file-size-wraper">
                    <small class="text-secondary file-size">({{file.size | prettyFileSize}})</small>
                </p>
            </div>
        </div>
        <div #actualContentEl *ngIf="!filesService.files || filesService.files.length == 0"
            [ngStyle]="{'height': (configService.winHeight - 200)+'px'}"
            class="card-text alert content-area-empty">Create file using the "new" button</div>
    </div>
</div>
