<br  />
<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            <button type="button" class="btn btn-primary btn-sm float-right" (click)="createFile();" title="Create new file"><i class="fa fa-star"></i> New</button>
            Files List
        </h4>
    </div>
    <div class="card-text alert bg-light border" [ngStyle]="{'height': (configService.winHeight - 160)+'px'}">
        <div class="card file-wrapper float-left"
                [ngClass]="{'selected-file': (selectedFileId == file.id)}"
                *ngFor="let file of filesService.files">
            <button type="button" title="Delete the file" class="btn btn-link btn-sm delete-file-button" (click)="deleteFile(file.id);">&times;</button>
            <!-- <img (click)="openFile(file.id)" class="card-img-top" src="assets/images/file2.png" alt="{{file.name}}" /> -->
            <div class="file-icon-wrapper" (click)="openFile(file.id)">
                <i class="far fa-file-alt fa-8x"></i>
            </div>
            <div class="card-body">
                <p [hidden]="fileId_renameInProcess == file.id"
                        (dblclick)="fileId_renameInProcess = file.id; newFilename = file.name;"
                        class="card-text file-name" title="{{file.name}}. Double click to rename">{{file.name}}</p>
                <!-- rename file name form -->
                <div [hidden]="fileId_renameInProcess != file.id" class="card-text rename-file-wrapper">
                    <form class="form-inline" (submit)="$event.preventDefault(); renameFile();">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control"
                                [value]="file.name" (input)="newFilename = $event.target.value" />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary" title="Rename the file">
                                    <i class="fa fa-check"></i>
                                </button>
                                <button type="button" (click)="fileId_renameInProcess = 0;" class="btn btn-outline-secondary" title="Cancel renaming">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                            <div class="input-group-append">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /rename -->

                <!-- File size -->
                <p class="file-size-wraper">
                    <small class="text-secondary file-size">({{file.size | prettyFileSize}})</small>
                </p>
            </div>
        </div>
    </div>
</div>
