<br  />
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <button type="button" (click)="deleteFile()" class="btn btn-danger btn-sm float-right" title="Delete this file">Delete this file</button>
            <span [hidden]="editFilenameInProgress" (dblclick)="editFilename()">{{filename}}</span>
            <div [hidden]="!editFilenameInProgress">
                <form class="form-inline" (submit)="$event.preventDefault(); updateFilename();">
                    <div class="input-group input-group-sm">
                        <input #editFilenameEl type="text" class="form-control" [value]="filename" (input)="filename = $event.target.value" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </h5>
    </div>
    <div #actualContentEl class="card-text alert bg-light border" contenteditable="true">{{actualContent}}</div>
</div>
