h4 {
    margin-bottom: 0;
}

.card-title button {
    margin-left: 5px;
}

.card-body {
    padding: 0.5rem;
}

.card-text {
    overflow: auto;
}

.versions-pager {
    font-size: 0.6em;
    line-height: 2em;
    color: #AAA;
}

.file-content-area {
    background-color: #fffde0;
    min-height: 280px;
}

.file-content-area-empty {
    line-height: 100%;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    color: #DDD;
}

.right-to-left {
    direction: rtl !important;
    text-align: right;
}
