<br  />
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <span [hidden]="editFilenameInProgress">{{filename}} <button type="button" (click)="editFilename()" class="btn btn-secondary btn-sm" *ngIf="!editFilenameInProgress">Edit</button></span>
            <div [hidden]="!editFilenameInProgress">
                <form class="inline" (submit)="$event.preventDefault(); updateFilename();">
                    <div class="input-group">
                        <input #editFilenameEl type="text" class="form-control" [value]="filename" (input)="filename = $event.target.value" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </h5>
        <p #actualContentEl class="card-text alert alert-secondary" contenteditable="true"
            (input)="saveCursorPosition()"
            (blur)="saveCursorPosition()"
            (focus)="loadCursorPosition()"
            >{{actualContent}}</p>
    </div>
</div>
