.app-wrapper {
    height: calc(100% - 80px); /* 24 + 56 */
}
.app-wrapper > .row {
    height: 100%;
}
    
.folders-sidebar {
    background: #EEE;
    min-height: calc(100% - 160px);
    overflow: auto;
}